POSTGRESQL_NAME=kumparan-test
POSTGRESQL_USERNAME=root
POSTGRESQL_PASSWORD=root
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5433

export POSTGRESQL_CONNECTION_URL="postgresql://${POSTGRESQL_USERNAME}:${POSTGRESQL_PASSWORD}@${POSTGRESQL_HOST}:${POSTGRESQL_PORT}/${POSTGRESQL_NAME}?sslmode=disable"
export POSTGRES_MIGRATION_PATH=file://../../configs/db/migrations
export PORT=8000
export GIN_MODE=release